
<ul class="list card">

    <div class="item ">
      <img width="100" ng-src="{{profile.picture.url}}" />
    </div>
    <li class="item">
      User ID: {{profile.uid}}
    </li>
     <li class="item">
        User Name: {{profile.name}}
    </li>
     <li class="item">
        Email: {{profile.mail}}
    </li>
     <li class="item">
        Telephone: {{profile.telephone}}
    </li>
     <li class="item">
        DOB: {{profile.dob}}
    </li>
     <li class="item">
        Gender: {{profile.gender}}
    </li>
     <li class="item">
        User Name: {{profile.name}}
    </li>
</ul>
