sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g

sdagasdgasdga sdgas dgas dgasd g
<br/>
<br/>

<div class="list">

  <div class="item ">
    <img width="100" ng-src="{{profile.picture.url}}" />
    <a ng-click="openAvatarModal()">change avatar</a>
  </div>

  <a class="item" href="#">
    Butterfinger
  </a>

</div>

<script id="avatarmodal.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Choose image source</h1>
      <button class="button button-positive" ng-click="closeAvatarModal()">Cancel</button>
    </header>
    <content has-header="true">
      <div class="padding">
        <div class="list">
          <a class="item" ng-click="useExistingPicture()">Choose from exisiting photos</a>
          <a class="item" ng-click="takeNewPicture()">Take a new photo</a>
        </div>
      </div>
    </content>
  </div>
</script>
