<div id="signup" class="list ">

  <div class="item">
    <button  >
      Signup with Facebook
    </button>
    ------------- or -----------------
  </div>
  <form name="signupForm" ng-submit="attemptSignup()">
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text" name="name" id="name" ng-model="newuser.name" required>
    </label>
    <div class="item error" ng-show="signupForm.name.$invalid && signupForm.submitted">
        A username is required.
    </div>
    <div class="item error" ng-show="signupForm.submitted && drupalerrors.name" ng-bind-html="drupalerrors.name" >

    </div>


    <label class="item item-input">
      <span class="input-label" >Email</span>
      <input type="text" name="mail" id="mail" ng-model="newuser.mail" required>
    </label>
     <div class="item error" ng-show="signupForm.mail.$invalid && signupForm.submitted">
        A email is required.
    </div>
     <div class="item error" ng-show="signupForm.submitted && drupalerrors.mail" ng-bind-html="drupalerrors.mail" >

    </div>

    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" name="pass" id="pass" ng-model="newuser.pass"  ng-minlength=7 ng-maxlength=24 required>
    </label>
    <div class="item error" ng-show="signupForm.pass.$invalid && signupForm.submitted">
        A pass is required and must be from 7 - 24 characters.
    </div>

    <label class="item item-input">
      <span class="input-label">Confirm Password</span>
      <input type="password" name="pass1" id="pass1" ng-model="newuser.pass1"  string-match="newuser.pass" required>
    </label>
    <div class="item error" ng-show="signupForm.pass1.$invalid && signupForm.submitted">
        Passwords must match
    </div>

    <div class="item">
        <a  ng-click="attemptSignup()" >
          Signup
        </a>
        Already have an account? <a>Sign In</a>
    </div>
  </form>

</div>
